<!doctype html>
<html>
<head>
<title>Simple table</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables-1.10.13/css/jquery.dataTables.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Buttons-1.2.4/css/buttons.dataTables.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Select-1.2.0/css/select.dataTables.css') }}">

<script src="{{ url_for('static', filename='jQuery-2.2.4/jquery-2.2.4.js') }}"></script>
<script src="{{ url_for('static', filename='JSZip-2.5.0/jszip.js') }}"></script>
<script src="{{ url_for('static', filename='pdfmake-0.1.18/build/pdfmake.js') }}"></script>
<script src="{{ url_for('static', filename='pdfmake-0.1.18/build/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='DataTables-1.10.13/js/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='Buttons-1.2.4/js/dataTables.buttons.js') }}"></script>
<script src="{{ url_for('static', filename='Buttons-1.2.4/js/buttons.colVis.js') }}"></script>
<script src="{{ url_for('static', filename='Buttons-1.2.4/js/buttons.flash.js') }}"></script>
<script src="{{ url_for('static', filename='Buttons-1.2.4/js/buttons.html5.js') }}"></script>
<script src="{{ url_for('static', filename='Buttons-1.2.4/js/buttons.print.js') }}"></script>
<script src="{{ url_for('static', filename='Select-1.2.0/js/dataTables.select.js') }}"></script>

<style type="text/css">
 body {font:80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif}
</style>
</head>

<script>
$(document).ready(function() {
    var table = $('#example').DataTable({
    dom: 'Blfrtip',
	buttons: ['csv', 'excel'],
	"processing": true,
	"serverSide": false,
	"deferRender": true,
	"ajax": {url: 'get_data'},
	initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
});
});
</script>

<body>
<h1>Sample table</h1>
{{table|safe}}
</body>
</html>